extends layout

block content
  .grid.grid-pad
    .col-1-2
      h1 nwitch

    .col-1-2
      iframe(
        height='500',
        frameborder='0',
        scrolling='no',
        id='chat_embed',
        src=embed)

  script(src='gen/build.js')