extends layout

block content
  .snap-drawers
    .snap-drawer.snap-drawer-left
      div
        h3 nwitch

        h4 Plugins
        ul
          li
            a Plugin1
          li
            a Plugin2
          li
            a Plugin3

        div
          p &copy; 2013–2014 Kenan Yildirim


  #content.snap-content
    .col-1-3
      iframe(
        width='500',
        height='500',
        frameborder='0',
        scrolling='no',
        id='chat_embed',
        src=embed)

  script(src='build.js')
  script(src='js/index.js')