extends layout

block content
  .grid.grid-pad
    .col-1-2
      h1 nwitch

      //
        if !user
          a(href='/auth/twitchtv') Login
        else
          p Hi #{user.username}

    .col-1-2
      iframe(
        width='500',
        height='500',
        frameborder='0',
        scrolling='no',
        id='chat_embed',
        src=embed)

  footer.grid.grid-pad(role='contentinfo')
    .col-1-1
      p nwitch &copy; 2013 Kenan Yildirim

  script(src='build.js')
  script(src='js/index.js')